@model BDInmoSturniolo.Models.Usuario

@{
    ViewData["Title"] = "Eliminar";
    TempData["AvatarPath"] = Model.Avatar;
}

<h1>Eliminar</h1>

<h3>Está seguro que desea eliminar este @Model.GetType().Name?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class="col-sm-10">
            <img width="100" src="@Model.Avatar" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RolNombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
