@model BDInmoSturniolo.Models.Inmueble

@{
    ViewData["Title"] = "Editar";
    List<Propietario> propietarios = ViewBag.Propietarios;
    Inmueble anterior = Model;

    string mensaje = TempData["Mensaje"] + "";
    string error = TempData["Error"] + "";
}

<h1><i class="bi bi-pencil-fill">   </i>Editar</h1>

<h4>@Model.GetType().Name</h4>

@if (mensaje.Length != 0)
{
    <div class="alert alert-dismissible alert-success">@mensaje
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (error.Length != 0)
{
    <div class="alert alert-dismissible alert-warning">@error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ambientes" class="control-label"></label>
                <input asp-for="Ambientes" class="form-control" />
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Superficie" class="control-label"></label>
                <input asp-for="Superficie" class="form-control" />
                <span asp-validation-for="Superficie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropietarioId" class="control-label"></label>  <i class="bi bi-file-person-fill"></i>
                <select class="form-control" name="PropietarioId">
                    @foreach (Propietario p in propietarios)
                    {
                        @:<option @(Model.PropietarioId == p.Id ? "selected" : "") value="@p.Id">@p.Nombre @p.Apellido</option>
                    }
                </select>
                <span asp-validation-for="PropietarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
