@model IEnumerable<BDInmoSturniolo.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
    string mensaje = TempData["Mensaje"] + "";
    string error = TempData["Error"] + "";

    bool esPorProp = ViewData.ContainsKey("Propietario");
    Propietario p = ViewBag.Propietario ?? new Propietario();

}

<h1><i class="bi bi-house-fill">   </i>Inmuebles@(esPorProp ? " de " + p.Apellido + " " + p.Nombre : "")</h1>

@if (mensaje.Length != 0)
{
    <div class="alert alert-dismissible alert-success">@mensaje
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (error.Length != 0)
{
    <div class="alert alert-dismissible alert-warning">@error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<p>
    <a asp-action="@(!esPorProp ? "Create" : "CrearParaPropietario")" asp-route-id="@(esPorProp ? p.Id : "")">
        <i class="bi bi-plus-circle"></i>   Crear Nuevo@(esPorProp ? " para Propietario "+p.Apellido+" "+p.Nombre : "")
    </a>
    @if (esPorProp)
    {
        <span> | <a asp-controller="Inmueble" asp-action="Index">Ver Todos</a></span>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th width="60px">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superficie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)  <i class="bi bi-file-person-fill"></i>
            </th>
            <th width="@(User.IsInRole("Admin") ? "100" : "70")px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superficie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duenio.Nombre) @Html.DisplayFor(modelItem => item.Duenio.Apellido)
            </td>
            <td>
                <a asp-action="Edit" title="Editar" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i></a> |
                <a asp-action="Details" title="Detalles" asp-route-id="@item.Id"><i class="bi bi-file-earmark-text-fill text-info"></i></a>
                @if (User.IsInRole("Admin"))
                {
                    <span> | <a asp-action="Delete" title="Eliminar" asp-route-id="@item.Id"><i class="bi bi-trash-fill text-danger"></i></a></span>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
