@model BDInmoSturniolo.Models.Pago

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContratoId)  <i class="bi bi-calendar4-range"></i>
        </dt>
        <dd class = "col-sm-10">
            Id: @Html.DisplayFor(model => model.ContratoId), @Html.DisplayFor(model => model.Contrato.Inquilino.Apellido)
             @Html.DisplayFor(model => model.Contrato.Inquilino.Nombre)
             en @Html.DisplayFor(model => model.Contrato.Inmueble.Direccion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
