@model IEnumerable<BDInmoSturniolo.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
    string mensaje = TempData["Mensaje"] + "";
    string error = TempData["Error"] + "";
}

<h1><i class="bi bi-credit-card-fill">   </i>Pagos</h1>

@if (mensaje.Length != 0)
{
    <div class="alert alert-dismissible alert-success">
        @mensaje
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}
@if (error.Length != 0)
{
    <div class="alert alert-dismissible alert-warning">
        @error
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<p>
    <a asp-action="Create"><i class="bi bi-plus-circle"></i>   Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th width="60px">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)  <i class="bi bi-calendar4-range"></i>
            </th>
            <th width="@(User.IsInRole("Admin") ? "100" : "70")px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contrato.Inquilino.Apellido) @Html.DisplayFor(modelItem => item.Contrato.Inquilino.Nombre)
                     en @Html.DisplayFor(modelItem => item.Contrato.Inmueble.Direccion)
                </td>
                <td>
                    <a asp-action="Edit" title="Editar" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i></a> |
                    <a asp-action="Details" title="Detalles" asp-route-id="@item.Id"><i class="bi bi-file-earmark-text-fill text-info"></i></a>
                    @if (User.IsInRole("Admin"))
                    {
                        <span> | <a asp-action="Delete" title="Eliminar" asp-route-id="@item.Id"><i class="bi bi-trash-fill text-danger"></i></a></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
